<div id="lock-wrapper">
        <img alt="замок" id="lock" src="../../sources/lock.svg">
        <button class="btn btn-primary" data-bs-target="#paymentModalCenter" id="payment-modal-btn">
            Купить курс
        </button>
</div>
<div class="blurry-block">
    <h3 class="blurry-text">Если ты думал, что получится таким хитрым образом получить содержания курса, то
        спешу тебя расстроить! Далее идет отрывок из песни "Молоточек" Ноггано)</h3>
    <p class="blurry-text"> Я беру молоток, я как молодой Тор
        I’m a psycho, imma lose control!
        Сам себя спасай-ка из этих стечений обстоятельств
        Твои кенты должны были остаться, но тупо съебались
        Молоток, чёрный юмор-шутка умер
        Жутко? Теперь твоя шкура — чья-то шубка
        В окружении врагов оружейный каталог
        Для тебя ствол — потолок, для меня молоток самое то
        Молоток решил и ты должен умереть</p>
    <h3 class="blurry-text">Этот текст написан чисто по фану, чтобы сайт выглядел получше.</h3>
    <p class="blurry-text">Молодой из врагов лепит калек
        Бам! Сработал молоточек
        Система наебнулась, закоротился проводочек
        Мы гуляем по району — я и мой молоток
        И сжимает рукоять перебинтованная ладонь
        И мне шепчет молоток: «Похуй, что они пришли толпой»
        Шепчет: «Делай то, что должен, вывезешь и в одного» (Эй)
        Молоток непримиримый одиночка (Это точно)
        Никуда не убежишь от молоточка
        Молоток ранит, молоток бьёт, ломает кости
        Молоток забивает стрелки и приходит в гости</p>
    <h3 class="blurry-text">Кстати, если ты все еще сомневаешься, покупать ли тебе курс, то скажу по секрету,
        что мы очень старались и создали реально крутой и актуальный продукт!</h3>
    <p class="blurry-text">Молоток не балабол, он молчаливый исполнитель
        Он закончит, если ты не смог остановить их
        Мы на пару, сначала в школу за парту (Запары были)
        Потом в шарагу на пару (Ага)
        Мы с ним на пару не раз поддавали пару
        В прогулках по парку, в зарубах за баром
        На напёрстках у вокзала, у базара на перекрёстке (Эй-эй-эй-эй)
        Мои молоточек родом из девяностых (Здравствуй, родной). Свеж и молод, срежь их серп, бей их молот
        Жар в груди, стальной холод
        Молоток кричит: «Утоли мой голод»
        Бей!
        Свеж и молод, срежь их серп, бей их молот
        Жар в груди, стальной холод
        Молоток кричит: «Утоли мой голод»</p>
</div>