<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Как делать рассылку?</h3>
    <p class="default-text"><b>Суть работы оператором – постоянная отправка мемберам рассылки (mass message). Рассылка
        делается 1-2 раза за смену. На рассылку мемберы потихоньку начинают отвечать, и ты начинаешь вести с ними
        общение.</b></p>
    <p class="default-text">Рассылку мы делаем сразу после того, как ответили на непрочитанные сообщения и создали
        актуальные списки на день. Актуальный список – это список людей, с которыми в данный момент ведётся общение, и
        которых нужно, соответственно, удалить из рассылки, чтобы не терялась логика диалога.</p>
    <ul id="module1-part3-list">
        <li>
            <p>Отправляем рассылку на список.</p>
        </li>
        <li>
            <p><b>Внимательно</b> исключаем из рассылки списки:</p>
            <p><b>Кастом, Бомжи, Модели, без рассылки, Muted, на русском, актуальный список, который создали
                только
                что.</b></p>
        </li>
    </ul>
    <p class="default-text">Очень важно исключать списки. Например: (Кастом, без рассылки) – это списки людей, которые
        ожидают кастомное видео или с ними уже ведется продолжительное общение, им рассылка не нужна. Модели просто не
        нуждаются в вашей рассылке. (Бомж, Muted) не заплатят вам, а отвечать на рассылку придется. Ну и актуальный
        список активных диалогов - с ними уже ведется общение, завлекать их в диалог рассылкой не имеет смысла.</p>
    <p class="default-text">Кстати, про бомжей. Бомжи - это только те, кто говорит, что денег у них нет и никогда не будет. Всем остальным обязательно нужно отвечать, игнорить никого нельзя!</p>
    <p class="default-text">Фото-инструкция, как делается рассылка:</p>
    <img alt="пример рассылки" class="content-img" src="../../sources/module1/mailing_example.png">
    <h3 class="h3-header">Что писать в рассылке?</h3>
    <p class="default-text">Цель рассылки - завлечь в диалог, поэтому оптимальнее всего заканчивать сообщение вопросом.
        В рассылке не
        стоит часто использовать фотографии и делать акцент на пошлости.</p>
    <p class="default-text">После смены отменяем рассылку, которая была отправлена:</p>
    <img alt="отмена рассылки" class="content-img" src="../../sources/module1/cancel_mailing.png">
    <h3 class="h3-header">Что дальше?</h3>
    <p class="default-text">После того, как все рассылки были отправлены – отвечай на все поступающие сообщения,
        просматривай
        диалоги, в которых тебе не ответили и старайся возобновить общение с собеседником.</p>
    <p class="default-text">Оператор должен быть в курсе того, что происходит на странице модели, поэтому просматривай
        несколько
        последних постов модели и истории, если они есть. Собеседник может задать вопрос, который относится к
        посту или истории, оператор должен быть готов ответить на него.</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>