<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Пример удачного диалога</h3>
    <p class="default-text">Здесь предоставлен пример удачного диалога. Этот диалог полностью проведен по скрипту и привел к успешной продаже. Подробнее о скриптах расскажу в третьем модуле.</p>
    <div class="dialogue">
        <div>
        <span>1.</span>
        <img alt="скрин переписки" src="../../sources/module1/dialogue/screen1.png">
        </div>
        <div>
        <span>2.</span>
        <img alt="скрин переписки" src="../../sources/module1/dialogue/screen2.png">
        </div>
    </div>
    <div class="dialogue">
        <div>
            <span>3.</span>
            <img alt="скрин переписки" src="../../sources/module1/dialogue/screen3.png">
        </div>
        <div>
            <span>4.</span>
            <img alt="скрин переписки" src="../../sources/module1/dialogue/screen4.png">
        </div>
    </div>
    <div class="dialogue">
        <div>
            <span>5.</span>
            <img alt="скрин переписки" src="../../sources/module1/dialogue/screen5.png">
        </div>
    </div>
    <p class="default-text">Напоследок хочу подчеркнуть одну важную вещь! Данный курс обучает работе на Fansly, однако ты можешь использовать знания и для работы на OnlyFans, сайты идентичные. Интерфейс слегка различается, но имея знания по Fansly, разобраться с OnlyFans самостоятельно – очень легко!</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>