<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Суть работы оператором.</h3>
    <p class="default-text">Привет! Если ты читаешь этот текст, значит ты собираешься работать или уже работаешь
        оператором. Прежде, чем начать, хочу попросить тебя, чтобы ты настроился на то, что при работе придется
        использовать свою фантазию и творчески подходить к решению задач.</p>
    <h4 class="h4-header">Для начала базово расскажу, в чем заключается работа оператора</h4>
    <p class="default-text">Оператор делает рассылку примерно каждые два-три часа. Иногда к рассылке можно прикрепить
        бесплатное фото (в маечке или в белье – не жёстче). На эту рассылку начинают потихоньку отвечать мемберы, и
        начинается общение. Общаться нужно поэтапно: не надо сразу показывать весь самый сочный контент, должен
        сохраниться интерес.</p>
    <p class="default-text"> Кроме того, общение проходит, как правило в «реальной жизни». То есть, подписчик должен
        подумать, что ты, модель, прямо сейчас снимаешь специально для него весь контент, а не сделали это когда-то
        давно.</p>
    <p class="default-text">С пошлостей начинать общение не рекомендуется: сначала нужно просто попереписываться.
        Необходимо узнать конкретный запрос подписчика и попытаться его удовлетворить.</p>
    <p class="default-text">Общаться нужно активно и интересно, никто не любит скучных моделей!</p>
    <p class="default-text"><b>В заключение вводного этапа дам тебе полезный совет! Рекомендуется использовать
        бесплатный переводчик deepl, все переписки для тебя будут на русском, и ты тоже сможешь писать на русском,
        переводчик все переведёт за тебя.</b></p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>