<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Внимательно изучи эти советы, они пригодятся в работе.</h3>
    <ul id="module1-part2-list">
        <li>
            <h4 class="h4-header">1. ХАРАКТЕР</h4>
            <p class="default-text">При знакомстве c мембером нужно стараться показать не только то, что ты гуру в
                любви, но и завлечь его своим характером и чувством юмора! Конечно, внешность цепляет, но на одной лишь
                внешности будет сложно зацепить мембера именно за душу, а мемберы заходят на сайт за особенными
                ощущениями, а не за тупой покупкой пустой картинки без характера и неинтересной личности!</p>
            <p class="default-text">Я хочу, чтобы ты постоянно помнили о том, что одновременно мемберу на сайте пишут
                сотни таких же моделей, и тебе нужно быть именно той девушкой, которая завлечет его своей харизмой и
                фантазией! Нужно не стесняться быть сукой, у которой, чтобы получить контент, нужно этого очень сильно
                захотеть и много заплатить! Не прогибайся под всё, что приказывает тебе мужик, если ты будешь
                показывать характер - это ещё больше зацепит его, и он будет играть по твоим правилам!</p>
        </li>
        <li>
            <h4 class="h4-header">2. ЭГОИЗМ</h4>
            <p class="default-text">При общении с мембером нужно интересоваться его интересами и желаниями, а не быть
                эгоисткой! Узнавай с каждым днём о мембере всё больше и больше информации, которую ты сможешь
                использовать в собственных целях, когда сделаешь из него постоянника! Когда дело доходит до продажи
                фото/видео, то после того, как мембер посмотрит контент, нужно обязательно поинтересоваться, понравилось
                ли это ему, и может ли он показать, как сильно ему это понравилось. То есть нужно проявлять интерес так
                же и в его сторону, просить о фото/видео контенте с его стороны.</p>
        </li>
        <li>
            <h4 class="h4-header">3. ТВОЙ КОНТЕНТ ДОРОЖЕ ЗОЛОТА</h4>
            <p class="default-text">Самое главное в продаже контента - это распределение его с умом! Не стоит сливать
                весь сок в самом начале общения! Это очевидная вещь, но иногда хочется завлечь мембера именно контентом,
                но в таком случае планка повысится и поднять её выше будет уже сложно, поэтому важно распределять
                контент постепенно: от менее горячего к очень горячему! И вот именно для этого нужно хорошо знать весь
                контент анкеты, с которой ты работаешь, чтобы быстро сориентироваться и дать мемберу то, чего он желает
                в этот момент!</p>
            <p class="default-text">Также важно подавать свой готовый контент как новый. Мембер должен быть уверен в
                том, что лично под него делался этот контент и прямо сейчас! Можно плавно подвести мембера к выбору, но
                выбор сделать за него. Нужно задать вопрос и сразу же ответить на него! Пример: <i>"У меня есть
                    предложение, от которого ты точно не сможешь отказаться! Предлагаю тебе стать моим папочкой сегодня
                    и приказывать мне, что делать! А я буду послушной девочкой для тебя, я буду исполнять все твои
                    приказы! Что ты прикажешь мне сделать в первую очередь?"</i>. И вот тут нужно ответить на своё же
                предложение, ориентируясь на свой контент. Вроде как у мембера есть выбор, а вроде как и нет, ты уже сам
                выбрал то, что готов ему продать!
            </p>
            <p class="default-text">Также стоит дать мемберу ощущение того, что контент мы производим для него прямо
                сейчас. Это можно сделать с помощью предварительной договоренности о цене! Пример: <i>"Я готова сделать
                    для тебя это видео, но, прежде чем я начну снимать это, я хочу услышать от тебя, сколько ты готов
                    заплатить за это особенное видео для тебя?"</i>. Еще один пример: <i>"Дай мне несколько минут, и я
                    сделаю для тебя это ОСОБЕННОЕ видео/фото, и я уверена, что смогу удивить тебя!"</i> – это так же
                дает иллюзию того, что контент производится прямо сейчас! Если видео на 5 минут, нужно подождать минут
                7-8 и можно отправлять.
            </p>
            <p class="default-text">Кроме того, один из важных моментов при продаже контента - это набивание цены! Как
                это можно сделать? Например, дать понять, что для тебя это не обычное дело, а что-то очень личное и
                особенное! Пример
                сообщения: <i>"Ты сейчас один?? Рядом с тобой никого рядом нет? Я хочу показать тебе то, что должно
                    остаться только между нами в секрете, и ты должен пообещать, что больше никому не покажешь того, что
                    я хочу показать тебе!! Договорились?"</i> - это точно повысит желание получить что-то запрещенное и
                повысит цену на контент!</p>
        </li>
        <li>
            <h4 class="h4-header">4. МЕЧТА</h4>
            <p class="default-text">Всегда нужно иметь мечту, ради которой ты пришла на этот сайт и занимаешься продажей
                своего контента! Это легенда о том, на что ты собираешь деньги. Нужно продумать её для постоянников,
                которые хотят сделать тебя самой счастливой девушкой в мире, потому что ты делаешь его самым счастливым
                и удовлетворенным мембером! Например, можно использовать мечту о том, что ты хочешь купить видео-камеру,
                чтобы снимать блоги, а камера - не из дешевых прихотей, и вместе с постоянником ты можешь копить на
                камеру, а может, он психанет и закинет полную сумму на этот подарок!</p>
        </li>
    </ul>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>