<div id="lock-wrapper">
        <img alt="замок" id="lock" src="../../sources/lock.svg">
        <button class="btn btn-primary" data-bs-target="#paymentModalCenter" id="payment-modal-btn">
            Купить курс
        </button>
</div>
<div class="blurry-block">
    <h3 class="blurry-text">Кстати, ребята, которые работают у нас в агентсве реально зарабатывают очень неплохо.
        Если тоже хотите поднимать бабки таким образом, то вы можете пройти собес в нашем агентсве после прохождения курса!</h3>
    <h3 class="blurry-text">Продолжение трека "Чуйский кантет" Второй Ка.</h3>
    <p class="blurry-text">Сегодня мы хапаем, сёдня в городе митинг
        И никуда теперь не выйти, никуда
        Пацаны заждались, что там в гуще событий?
        Когда ж приедет долгожданная трава?
        Грязью тонированный Дэу Матиз
        Кудайберген (Кудай сактасын)
        Что за, бля, жизнь?
        Мама спросила, - "Куда собрался?"
        Сказал, потусить
        Даже таксист
        Хоть и не местный, но сел на минж
        Я сел на вес, в заднице шишки
        Пахнет в салоне, менты не белки
        Менты гандоны
        Закинул нафтика - не помогло
        В городе митинги, в городе гон
        Если случится вдруг переворот
        Я залечу и пересижу
        Фемок отпиздили местные мырки
        Нахуй их фемок, слишком капризные
        Если есть жила бороться за право
        Едь за границу, тут за традиции
        Мне поебать и на тех и на этих
        Я еду хапать меня как на ракете
        Этот матиз довезет до Кой-Таша
        Пацы на жданках, пацы мандражат
        Это полный пиздец
        Э моул чуйский кантет?
        Исыкулький обед
        Пацаны на анаше
        Это полный пиздец
        Э моул чуйский кантет?
        Исыкулький обед
        Пацаны на анаше</p>
    <h3 class="blurry-text">Недавно Kizaru дропнул новый альбом. Для всех любителей новый трек оттуда "Serial Killa"</h3>
    <p class="blurry-text">На мне nine, продал blow
        Getting high, smokin' dro
        Нахуй five, нахуй O
        Сунул член в твою ho
        На мне nine, продал blow
        Getting high, smokin' dro
        Нахуй five, нахуй O
        Сунул член в твою ho
        Если кто-то должен денег, bitch, я включаю таймер
        Я проник к нему в хату, за спиной я прячу hummer
        Холодный пот на лице, он дрожит, потом он замер (Застыл)
        Проломил черепуху, съел его сердце — Джеффри Дамер
        Копы в погоне
        God, damn, они чейзят (Попробуй поймать)
        Fake ID, я без связи неделю, в бегах я на рейсе
        Они плотно насели (Oh, my)
        Всем отделом на case (Всей шайкой, ё)
        Тело в backyard'е, трупы в подвале, God damn, Джон Гейси
        Соседи не спят, они гадают, что за запах (Man)
        Chop, chop, chop, лежат мешки, бля, в чёрном траке (Траке)
        Pop, pop, pop, он убежал от нас — он lucky (Как так?)
        Нарезаю с них слайсы, мэн, как будто мы в Ираке
        Просит пощады, он хочет свободы, но нет, я не Ганди
        (Но нет, я не Ганди)
        Чё ты там думал? Чё ты там мямлишь, в какой ты, бля, банде?
        (В какой ты, бля, банде?)
        Со мной свежее мясо, со мной сучки с Плэйбоя
        Oh, God, мы на яхте (Oh, God, мы на яхте)
        Со мной плохо шутить, со мной опасно играть
        Превращаюсь в Тед Банди
        Их рэп — детский сад
        Они читают про фейк оппов (Зачем?)
        Какие, бля, враги, мои главные оппы — это копы (Well done)
        Я серийный килла, когда готовлю эти дропы (Так точно)
        Они все обсуждают, в интернете горят жопы
        Клик-клэк, белый, лучше step back
        Твой хоуми шлет мне демо — хочет фидбэк
        Они базарят в своих треках — это chit chat
        Мы проедем мимо них — ra-tat-tat-tat
        Что с ними стало, ho, это дефект
        Эта бич пишет мне, загрязняет директ
        Окунул в неё яйца — это tea bag
        Слил ей на лицо, bitch, I'll be back</p>
</div>