<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Прогревающие фразы</h3>
    <p class="default-text">Каждый подписчик очень важен для нас, поэтому в те моменты, когда у тебя невысокий актив, листай ленту диалогов вниз, обращай внимания на те, в которых сообщения прочитаны, а ответа нет. Попытайся восстановить диалог, узнай почему мембер не отвечает тебе, сделай вывод и продолжай общение.</p>
    <div class="row">
        <div class="col-lg-5">
            <ol class="phrases-list">
                <li style="color: black">
                    <div class="phrase">
                        <p>I really like it when guys masturbate on me. It really turns me on. What turns you on?</p>
                        <p>Мне очень нравится, что парни мастурбируют именно на меня. Это очень заводит меня. А что заводит тебя?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>What do you prefer to masturbate to? What is your favorite? </p>
                        <p>На что ты предпочитаешь мастурбировать? Что самое любимое?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>What's your dirtiest dream?</p>
                        <p>Какая твоя самая грязная мечта?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>What is your most desired sexual dream?</p>
                        <p>Какая твоя самая желанная сексуальная мечта?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p> When was the last time you had sex?</p>
                        <p>Когда последний раз у тебя был секс?</p>
                    </div>
                </li>
                <li id="last-list-item">
                    <div class="phrase">
                        <p>Have you ever been caught masturbating?</p>
                        <p>Тебя когда-нибудь ловили за мастурбацией?</p>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <ol class="phrases-list" start="7">
                <li style="color: black">
                    <div class="phrase">
                        <p>Don't you think my clothes are unnecessary? I think I look much better naked.</p>
                        <p>Тебе не кажется, что одежда на мне лишняя? Мне кажется голой я выгляжу намного лучше.</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Have you ever had sex with more than 1 girl in a day?</p>
                        <p>У тебя когда-нибудь был секс больше чем с 1 девушкой за день?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>How do you feel about stripping?</p>
                        <p>Как относишься к стриптизу?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>How often do you masturbate?</p>
                        <p>Как часто ты мастурбируешь?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Have you had your sexual dreams come true?</p>
                        <p>У тебя сбывались твои сексуальные мечты?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Do you prefer sex in the dark or in the light?</p>
                        <p>Предпочитаешь секс в темноте или при свете?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Do you have fetishes you haven't told anyone about?</p>
                        <p>У тебя есть фетиши о которых ты никому не рассказывал?</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>