<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Идеи для секстинга и ролевых игр</h3>
    <ol class="content-ol">
        <li style="color: black">
            <p class="default-text">Школьница и учитель</p>
        </li>
        <li style="color: black">
            <p class="default-text">Босс и сотрудница</p>
        </li>
        <li style="color: black">
            <p class="default-text">Папа подружки</p>
        </li>
        <li style="color: black">
            <p class="default-text">Изменяющая девушка</p>
        </li>
        <li style="color: black">
            <p class="default-text">Обнаружила парня за футфетиш дрочкой</p>
        </li>
        <li style="color: black">
            <p class="default-text">Горничная и владелец дома</p>
        </li>
        <li style="color: black">
            <p class="default-text">Агент по недвижимости и покупатель</p>
        </li>
        <li style="color: black">
            <p class="default-text">Девушка в балаклаве вломилась в чей-то дом</p>
        </li>
        <li style="color: black">
            <p class="default-text">Девушка-соседка</p>
        </li>
        <li style="color: black">
            <p class="default-text">Шаловливая стриптизерша</p>
        </li>
        <li style="color: black">
            <p class="default-text">Мачеха, сводная сестра, падчерица</p>
        </li>
    </ol>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>