<div id="lock-wrapper">
        <img alt="замок" id="lock" src="../../sources/lock.svg">
        <button class="btn btn-primary" data-bs-target="#paymentModalCenter" id="payment-modal-btn">
            Купить курс
        </button>
</div>
<div class="blurry-block">
    <h3 class="blurry-text">Продолжаем рубрику песни от программиста, сейчас на очереди трек "Чуйский кантет" Второй Ка.</h3>
    <p class="blurry-text">Теперь Киргизия. Там не утихают беспорядки
        Которые начались во вторник в городе Талас
        Кадры, которые вы сейчас видите, уникальны
        Группа кореспондентов "Первого канала" Виталия Благова
        Единственная оказалась в Таласе, в самый разгар массовых выступлений
        Эсклюзивные съёмки из самого центра "Киргизского бунта"
        Усмирять который послали несколько высоко поставленных чиновников
        В том числе министра внутренних дел, теперь уже бывшего
        Мы предупреждаем!
        Кого-то из зрителей может шокировать то, в каком виде он предстанет на экране сейчас
        Трудно поверить, что так может выглядеть человек, который всего сутками ранее был обличён высокой власти</p>
    <h3 class="blurry-text">Напоминаю, что курс реалльно стоящий и вы все еще можете приобрести его, нажав на кнопку "купить курс"</h3>
    <p class="blurry-text">Пацаны на анаше (ше, о-о-у, ше, ше)
        (У-ух, ше, о-о-у, э-эй)
        Пацаны на анаше (ше, анаше, у-ух, ше, эй)
        Э моул чуйский кантет?
        Пацаны на анаше
        Калч ты или городской
        Вес не идёт к нам прямо с центров
        Вес где-то там, типа в кызыл аскере
        Серия блуд, сели в синий акорд</p>
    <h3 class="blurry-text">Если хотите себе такой же классный сайт, пишите в тг @NutonFlash (немножко саморекламы).</h3>
    <p class="blurry-text">Для того, чтобы увидеть материалы курса, произведите оплату через QIWI! Для того,
        чтобы увидеть материалы
        курса, произведите оплату через QIWI! Для того, чтобы увидеть материалы курса, произведите оплату через
        QIWI!Для того, чтобы увидеть материалы курса, произведите оплату через QIWI! Для того, чтобы увидеть
        материалы курса, произведите оплату через QIWI!У нас дома холодно (высокогорье)
        Гости пришли все сели за стол
        Чай-пай, все дела, в круг залетают с душой
        Пацаны на анаше
        Это полный пиздец
        Э моул чуйский кантет?
        Исыкулький обед
        Пацаны на анаше
        Это полный пиздец
        Э моул чуйский кантет?
        Исыкулький обед
        Пацаны на анаше</p>
</div>