<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Список телеграм-чатов, в которых можно найти работу:</h3>
    <ol class="content-ol" id="module2-list">
        <li><a href="https://t.me/adulters_BF" target="_blank">https://t.me/adulters_BF</a></li>
        <li><a href="https://t.me/CardoCrewDesk" target="_blank">https://t.me/CardoCrewDesk</a></li>
        <li><a href="https://t.me/OnlyFreeDesk" target="_blank">https://t.me/OnlyFreeDesk</a></li>
    </ol>
    <p class="default-text">Пиши в эти паблики о том, что ищешь работу оператором. Также ты можешь искать открытые вакансии на эту должность. Подсказка: можно вбить в поиск по чату слово “секстер” (секстер - это и есть оператор) или “оператор”, и ты увидишь нужные тебе объявления.</p>
    <p class="default-text">Своему будущему работодателю рекомендую писать, во-первых, о том, что ты прошёл этот курс и знаешь, как работать оператором. Во-вторых, можно написать про свой уровень английского языка (в случае, если английский ты знаешь плохо, пиши о том, что пользуешься переводчиком deepl).</p>
    <p class="default-text"> Также советую общаться с будущим работодателем грамотно, красиво и адекватно. Я, например, всегда обращаю внимание на такие моменты, т.к. работаю с рандомными людьми из Интернета, а дурачков здесь много, их нужно фильтровать! И ты фильтруй, работодатель тоже может оказаться дурачком!</p>
    <p class="default-text">Ну, что ж, теперь самое главное, пройдя курс – ты можешь пройти собеседование на работу в моем агентстве &#128512; У нас периодически открываются новые вакансии - как на Fansly, так и на OnlyFans.</p>
    <p class="default-text">Сразу предупрежу тебя, что в моём агентстве нужно работать чётко и ответственно, соблюдая инструкции! Надеюсь, ты меня не подведёшь!</p>
    <p class="default-text">Пиши мне в телеграм - <a href="https://t.me/mmmspm" target="_blank">@mmmspm</a> (Саша)</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>