#nav-container #fansly-logo-container {
    width: 35%;
    height: 100%;
    position: relative;
    margin-right: 3%;
}

#fansly-logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    height: 100%;
}

/* Mobile phones */

@media (orientation: landscape) and (min-width: 480px) {
    #fansly-logo {
        width: 50%;
    }
}

@media (orientation: landscape) and (min-width: 768px) {
    #fansly-logo {
        width: 40%;
    }
}

/* Laptops & tablets*/

@media (orientation: portrait) and (min-width: 768px) {
    #fansly-logo {
        width: 60%;
    }
}

/* Desktops */

@media (orientation: landscape)  and (min-width: 1024px) and (min-height: 576px) {
    #nav-container #fansly-logo-container {
        width: 45%;
        margin-right: 0;
    }
    #fansly-logo {
        width: 90%;
    }
}
