<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Добро пожаловать!</title>
</head>
<body>
<div style="font-size: 1.25rem">
  <p style="font-size: 1.5rem; font-weight: 500">Привет! Мы рады, что ты прошёл регистрацию на сайте нашего курса!</p>
  <p>Ты уже вот-вот сможешь изменить свою жизнь и обрести новую профессию – "оператор" на Fansly/OnlyFans, а <b>мы поможем тебе не только с обучением, но и с поиском работы</b>.</p>
  <p>Тебе будут предоставлены соответствующие площадки, где ты сможешь среди сотен агентств найти то, которое подойдёт именно тебе, а также возможность пройти собеседование с автором нашего курса - владельцем агентств на Fansly и OnlyFans.</p>
  <p><b>Помни – одно твоё решение может кардинально поменять твою жизнь!</b></p>
  <br>
  <p><b>Администрация сайта fansly-course.ru</b></p>
</div>
</body>
</html>