<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Еще не забыл?</title>
</head>
<body>
<div style="font-size: 1.25rem">
    <p>Привет!</p>
    <p>Недавно ты прошёл регистрацию на сайте курса по профессии “оператор” на Fansly/OnlyFans, но, к сожалению, все ещё не начал обучение.</p>
    <p>Возможно, ты собирался это сделать позже. Надеюсь, тот самый момент настал, и мы вот-вот сможем не только обучить тебя новой профессии, но и <b>по окончании обучения предоставить работу</b>, на которой стоимость курса окупится (при ответственном подходе) за несколько дней!</p>
    <p>Если укажешь этот промокод <b>111015</b> при оформлении курса, получишь скидку 500 рублей ;)</p>
    <p><b>Всё в твоих руках!</b></p>
    <p>Кстати, будем благодарны, если ты пройдёшь небольшой опрос, он займёт всего несколько минуту!</p>
    <div style="margin: 2rem 0">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSebsDgusO_wPRUL7NO58Bnqto9gO50AczHI_zG2R_QV0tYJ0A/viewform?usp=sf_link" target="_blank" style="text-decoration: none; color: white; font-size: 1.25rem; background-color: #0d6efd; padding: 1rem 2.5rem; font-weight: bold; border-radius: 30px; border: none">
            Пройти опрос
        </a>
    </div>
    <br>
    <p><b>Администрация сайта fansly-course.ru</b></p>
    <p style="font-size: 1.1rem"><i>*Дам небольшую подсказку. Мы не осуществляем продажи курса в рассрочку, но ты можешь оформить ее самостоятельно. Заведи кредитную карту. В мобильном приложении Сбербанка, например, это делается моментально. Оплати курс кредитной картой, а с первой же зарплаты погаси свой долг.</i></p>
</div>
</body>
</html>