<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">"Сейчас нет денег заплатить"</h3>
    <ol class="phrases-list">
        <li style="color: black"><div class="phrase full-page">
            <p>That's okay, you can see me anytime you can pay. If you don't forget about me and write to me, I'll give you a gift for it.</p>
            <p>Ничего страшного, ты можешь увидеть меня в любой момент, когда сможешь заплатить. Если ты не забудешь обо мне и напишешь, я сделаю тебе подарок за это.</p>
        </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>Don't worry, it's not the most important thing in communication for me. We can always communicate with you without money, but also without content. Just communication. When you get a chance to pay me for content, your dick will be harder than a stone.</p>
                <p>Не переживай, это не самое главное в общении для меня. Мы всегда можем пообщаться с тобой без денег, но и без контента. Просто общение. Когда у тебя появится возможность заплатить мне за контент, твой член будет тверже камня.</p>
            </div>
        </li>
    </ol>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>