<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">"Что делаешь?"</h3>
    <ol class="phrases-list">
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm lying in bed watching romantic movies, there was a pastel scene recently, and it turned me on so
                    much, I miss having someone around😏 Can we spend time together here with you?</p>
                <p>Я лежу в кровати и смотрю романтические фильмы, недавно была постельная сцена, и она меня так
                    возбудила, не хватает кого-то рядом😏 Может мы проведём с тобой вместе время здесь?</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm lying-in bed and I so want someone to hold me with strong male arms😌 Do you have strong
                    arms?😏</p>
                <p>Я лежу в кровати и мне так хочется, чтобы кто-то меня обнял крепкими мужскими руками😌 У тебя крепкие
                    руки?😏</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm trying on my new underwear, it's sexier than I thought😍 If you saw it, you'd get hard🙈</p>
                <p>Я примеряю своё новое бельё, оно сексуальней, чем я думала😍 Eсли бы ты его увидел, ты бы стал
                    твёрдым🙈</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I went to shower, came out and couldn't get past the mirror, I fell in love with myself all over
                    again and started taking pictures, the pictures came out so sexy I got horny🙈 Do you want to get
                    horny with me?</p>
                <p>Я ходила в душ, вышла и не смогла пройти мимо зеркала, влюбилась в себя заново и начала фоткаться,
                    фотки получились такими сексуальными, что я возбудилась🙈 Хочешь возбудиться вместе со мной?</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm lying there fantasizing about something hot, looking for someone to share my sexual fantasies. Do
                    you have sexual fantasies?</p>
                <p>Я лежу и фантазирую о чём-то горячем, ищу того, кто разделит мои сексуальные фантазии. У тебя есть
                    сексуальные фантазии?</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm going to make a new video😏 Would you like to see it?</p>
                <p>Я собираюсь снять новое видео😏 Ты бы хотел увидеть его?</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm lying naked in bed giving myself a foot massage😋 Do you like massages?</p>
                <p>Я лежу голая в кровати и делаю себе массаж ног😋 Ты любишь массаж?</p>
            </div>
        </li>
    </ol>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>