<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Скрипт</h3>
    <p class="default-text">Скрипт – это твой помощник в работе. Он поможет начать разговор с новым собеседником и довести его до
        логичной точки, в которой ты сам возьмешь инициативу в свои руки, адаптируешь ситуацию под себя и закроешь
        продажу.</p>
    <p class="default-text">Все фразы в скрипте написаны на двух языках, тебе не придется тратить время на перевод фраз.</p>
    <h4 class="h4-header">ДИСКЛЕЙМЕР</h4>
    <p class="default-text">Слепое использование этого скрипта не приведет тебя к продаже, человеческий фактор присутствует всегда. Есть
        ситуации, в которых лучше ответить по-другому, и твоя задача сделать именно так. Скрипт лишь облегчает твою
        работу, а не делает ее за тебя.</p>
    <h4 class="h4-header">Как работать по этому скрипту? </h4>
    <p class="default-text">Все фразы в нем разделены по логичным блокам. Двигайся в общении по готовому сценарию (Приветствие –
        Выявление потребности – Прогрев – Продажа).</p>
    <p class="default-text">Постепенно двигаясь по этой цепочке, ты, скорее всего, получишь клиента, готового заплатить, тебе остается
        подстроиться под ситуацию и продать ему то, что он хочет.</p>
    <p class="default-text">Также ты можешь найти здесь ответы на часто задаваемые вопросы, на которые постоянно приходится
        отвечать. </p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>