<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Переход к продаже</h3>
    <div class="row">
        <div class="col-lg-5">
            <ol class="phrases-list">
                <li style="color: black">
                    <div class="phrase">
                        <p>Do you want to see what I look like?</p>
                        <p>Ты хочешь посмотреть, как я выгляжу?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Would you like to see a little more than that?</p>
                        <p>Ты хотел бы увидеть немного больше, чем это?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Do you want to do it right now?</p>
                        <p>Хочешь сделать это прямо сейчас?</p>
                    </div>
                </li>
                <li id="last-list-item">
                    <div class="phrase">
                        <p>I won't leave you without an orgasm.</p>
                        <p>Я не оставлю тебя без оргазма.</p>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <ol class="phrases-list" start="5">
                <li style="color: black">
                    <div class="phrase">
                        <p>Are you sure you're ready for this? I'm afraid you can only think of me after this.</p>
                        <p>Ты уверен, что готов к этому? Боюсь, что сможешь думать только обо мне после этого.</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>You'll never forget it.</p>
                        <p>Ты этого никогда не забудешь.</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>This will be the highlight of the week for you.</p>
                        <p>Это будет самое яркое событие недели для тебя.</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>