<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Описание контента</h3>
    <p class="default-text">Нужно вызывать желание к действию, подписывайте контент исходя из предпочтений мембера, фразы нужно дополнить словами грудь, попа, пуси и тд.</p>
    <div class="row">
        <div class="col-lg-5">
            <ol class="phrases-list">
                <li style="color: black">
                    <div class="phrase">
                        <p>I want you to see my sexy...</p>
                        <p>Я так хочу, чтобы ты увидел мою сексуальную...</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>I want you to masturbate on my...</p>
                        <p>Я хочу, чтобы ты маструбировал на мою...</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Your dick will get hard from my...</p>
                        <p>Твой член станет твердым от моей...</p>
                    </div>
                </li>
                <li id="last-list-item">
                    <div class="phrase">
                        <p>I want you to show me your reaction to my...</p>
                        <p>Я хочу, чтобы ты показал мне свою реакцию на мою...</p>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <ol class="phrases-list" start="5">
                <li style="color: black">
                    <div class="phrase">
                        <p>You've never seen such a beautiful...</p>
                        <p>Ты никогда не видел такой красивой...</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Even I got turned on by the way my...</p>
                        <p>Даже я возбудилась от того, как выглядит моя...</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Imagine instead of this dildo feeling your dick.</p>
                        <p>Представь, что вместо этого дилдо твой член.</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>It would be so cool to feel your dick instead of the dildo.</p>
                        <p>Представь, что вместо этого дилдо твой член.</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>