<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Оценка финансовой способности</h3>
    <ol class="phrases-list">
        <li style="color: black"><div class="phrase full-page">
            <p>I'd love to do it, you realize it won't be free?</p>
            <p>Я с удовольствием сделаю это, ты понимаешь, что это будет не бесплатно?</p>
        </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I hope you'll take it well. But content is my main income, so I have to ask. Do you want to pay to see my sexy body?</p>
                <p>Надеюсь, что ты хорошо отнесешься к этому. Но контент — это мой основной доход, поэтому я хочу спросить. Ты хочешь заплатить, чтобы увидеть мое сексуальное тело?</p>
            </div>
        </li>
    </ol>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>