<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">"Как ты? Как настроение?"</h3>
    <ol class="phrases-list">
        <li style="color: black"><div class="phrase full-page">
            <p>Watching the content I just made, and I'm a little excited, aren't you?</p>
            <p>Смотрю контент, который только что сделала, и немного возбуждена, а ты?</p>
        </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I bought myself some new underwear today, so my mood is great, are you?</p>
                <p>Сегодня купила себе новое нижнее белье, поэтому мое настроение великолепное, у тебя?</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm very happy because I bought a new sex toy, aren't you?</p>
                <p>Я очень счастлива, ведь я купила новую секс-игрушку, а ты?</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm very horny, because I imagined a dirty fantasy, and you?</p>
                <p>Я очень возбуждена, я представила себе грязную фантазию, а ты?</p>
            </div>
        </li>
        <li style="color: black">
            <div class="phrase full-page">
                <p>I'm excited, because you texted me, didn't you?</p>
                <p>Я радостная, ведь ты написал мне, а ты?</p>
            </div>
        </li>
    </ol>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>