<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Выявление потребности.</h3>
    <p class="default-text">Всегда старайся выяснить у мембера его потребность и попробуй закрыть ее максимально близко, как это возможно.</p>
    <div class="row">
        <div class="col-lg-5">
            <ol class="phrases-list">
                <li style="color: black">
                    <div class="phrase">
                        <p>What excites you the most?</p>
                        <p>Что тебя возбуждает больше всего?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>What are you on OnlyFans for? What do you prefer to do here?</p>
                        <p>Для чего ты на OnlyFans? Что ты предпочитаешь делать тут?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Do you like to dominate or obey?</p>
                        <p>Ты любишь доминировать или подчиняться?</p>
                    </div>
                </li>
                <li id="last-list-item">
                    <div class="phrase">
                        <p>What do you want to do with me?</p>
                        <p>Что ты хочешь сделать вместе со мной?</p>
                    </div>
                </li>
            </ol>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-5">
            <ol class="phrases-list" start="5">
                <li style="color: black">
                    <div class="phrase">
                        <p>Какая для тебя самая сексуальная часть тела у девушки?</p>
                        <p>У меня тоже. Какие планы на ближайшее часы?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>How do you feel about sexting?</p>
                        <p>Как относишься к секстингу?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>How do you feel about sex toys?</p>
                        <p>Как ты относишься к секс-игрушкам?</p>
                    </div>
                </li>
                <li style="color: black">
                    <div class="phrase">
                        <p>Do you have sexual fantasies? Do you want to tell me about them?</p>
                        <p>У тебя есть сексуальные фантазии? хочешь рассказать мне их?</p>
                    </div>
                </li>
            </ol>
        </div>
    </div>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html'); ?>
<?php endif; ?>