<div id="lock-wrapper">
        <img alt="замок" id="lock" src="../../sources/lock.svg">
        <button class="btn btn-primary" data-bs-target="#paymentModalCenter" id="payment-modal-btn">
            Купить курс
        </button>
</div>
<div class="blurry-block">
    <h3 class="blurry-text">Ну и завершающая песня в нашей небольшой подборочки "Brooklyn" Miyagi & Andy panda feat. Tumaniyo</h3>
    <p class="blurry-text">Как будто бы Бруклин
        Псы идут на запах, когда папа в будке мутки
        Bloody Babylon - тебе не шутки
        Индивиды клауда пресные, как бабки
        На плече тяжелый Biggie, а на шее monkey
        Сбоку мои скифы, под ногами те же Nike
        Вроде бы не билборд, я из той же шайки
        Залетаю в Комптон, забираю брата
        Не грози южным кварталам, там мои ребята
        Сам себе бог, луп наоборот
        Клубы - не про нас, мы другие, нас это не прет
        Собираемся на хате, чилим от других подальше
        Если хочешь ближе, тебя схавают черные пасти
        Флоу быстрый как ебучий Болт, йоу
        Сколько не ищи, мы самый редкий сорт
        На пути встают пресловутые на криме
        Hajime на связи, если вы просили
        No-no-no fear, no lie
        Listen my rhythm, hands up, I talk about a legalize
        If you scared, shut the fuck up, man, if you scared
        No-no-no fear, no lie
        Listen my rhythm, hands up, I talk about a legalize
        If you scared, shut the fuck up, man, if you scared
        No-no-no fear, no lie</p>
    <h3 class="blurry-text">Напоминаю, что этот текст здесь чисто для декорации. Материалы курса станут достпуны только после оплаты...</h3>
    <p class="blurry-text">Тут видно кроссы на проводах и людей чернее чёрного
        Проблемой не на словах, как разбитый коктейль Молотова
        В этих делах крошатся головы, греются колбы
        Я вышел из комнаты, чтобы тебе напомнить
        Кто тут у майка. Улица, wake up
        Чёрная магия моя сломала фейдер
        Всё самопально, звук из подвала
        Этим закалялась и теперь рубит наша катана
        Panda поддал саунда - классика жанра
        В городе ветров, с низов - это мой Чикаго. Hey, yo, flow
        YO вырастил микрорайон и теперь он целится за горизонт и за кордон
        Далеко за пределами всяких дешёвых контор
        Мой саппорт и опора - плечи своих пацанов
        Береги корпус от баса, он рвёт монитор как картон
        В свои степи с гор, будто с Бруклина в Комптон</p>
</div>