<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <p class="default-text"><b>Поздравляю, ты уже вот-вот станешь квалифицированным оператором! В этом модуле я хочу
        поделиться с тобой советами по работе в данной сфере в целом, а также рассказать, какие тут есть возможности
        помимо работы оператором на Fansly.</b></p>
    <h3 class="h3-header">Советы:</h3>
    <h4 class="h4-header">1) Не работай с дурачками! Мы в Интернете, их тут много!</h4>
    <p class="default-text"> Как говорится, все гениальное – просто, а все простое - гениально:) Казалось бы, совет
        очевидный, но крайне важный. Поясню сразу на примере. Ты нашёл агентство, которое предложило тебе отличные
        условия. При этом, ты видишь, что менеджер агентства "подтупливает" – постоянно забывает про свои обещания, не
        умеет четко доносить свои мысли, неграмотно общается, делает неразумные вещи, и т.д. Вполне вероятно, что
        несмотря на отличные условия, ты не получишь того, чего ожидаешь. Человек может по-глупому прекратить с тобой
        работу, возможно, переводя тебе зарплату, сделает ошибку в процессе перевода, и деньги уйдут не туда – что
        угодно может произойти. В общем, распознавайте дурачков, это не так сложно – созванивайтесь с людьми, в процессе
        звонка, как правило, становится всё понятно!</p>
    <h4 class="h4-header">2) Не давай свои личные данные!</h4>
    <p class="default-text">Некоторые агентства просят показать паспорт при устройстве на работу (на случай, если
        сотрудник окажется недобросовестным). Не показывай!</p>
    <p class="default-text">Твой телеграм не должен быть привязан к реальному номеру телефона. Даже если ты скрыл свой
        номер, его все равно можно узнать. Существуют сервисы оформления виртуальных сим-карт для регистрации аккаунта в
        telegram, пользуйся!</p>
    <p class="default-text"> Про паспорт, я думаю, все очевидно. По поводу номера: если он будет слит, вряд ли это
        повлечет за собой критические последствия, но я рекомендую все же предостеречь себя.</p>
    <h4 class="h4-header">3) Не обманывай!</h4>
    <p class="default-text">Буду с честен, когда я только начинал работу в данной сфере, возник момент, когда я нехорошо
        обошелся со своим партнёром. Не буду рассказывать подробно про эту ситуацию, скажу лишь то, что впоследствии я
        получил бы больше денег, если бы поступил по-честному. После того случая я рассказал всем своим сотрудникам о
        произошедшем, и принципиально начал вести бизнес предельно честно. Зачем хитрить, когда работа может быть
        взаимовыгодной и для тебя, и для твоего партнера? Если обе стороны устраивает сотрудничество, то впоследствии
        заработок каждой из сторон будет расти. Закончу это повествование красивой цитатой: "Людям ложь вредна, а себе
        еще вреднее". &#128578;</p>
    <h4 class="h4-header">4) Переходи на онлик! :)</h4>
    <p class="default-text">В телеграм-пабликах, ссылки на которые есть в третьем модуле курса, есть объявления,
        связанные не только с Fansly, но и с OnlyFans. На онлике больше денег, там работать выгоднее. Но на Fansly с
        деньгами тоже всё нормально, порой там можно заработать даже больше, чем на OnlyFans, главное - найти несколько
        богатых “постоянников”. Также у Fansly есть большой плюс – можно работать с телефона, на OnlyFans - только с ПК,
        т.к. на этой платформе все работают через браузер “долфин.анти”, телефон этот браузер не тянет.</p>
    <p class="default-text">Знания, полученные из курса, который ты проходишь на данный момент, являются достаточными и
        для работы на OnlyFans, т.к. платформы идентичны.</p>
    <p class="default-text" style="margin-bottom: .25rem">Разницу между платформами можно понять, прочитав эту статью: </p>
    <p class="default-text"><a href="https://slobodskyi.com/articles/onlyfans" target="_blank">slobodskyi.com/articles/onlyfans</a>.
    </p>
    <p class="default-text">Крайне рекомендую к прочтению, т.к. в ней содержится много полезной информации не только для
        будущих операторов, но и для любого человека, решившего связать свою жизнь с данной сферой. Вдруг ты, например,
        будущая модель!)</p>
    <p class="default-text" style="margin-bottom: .25rem"> Также советую почитать статью того же автора про Fansly, там тоже содержится много полезной
        информации:</p>
    <p class="default-text"><a href="https://slobodskyi.com/articles/fansly" target="_blank">slobodskyi.com/articles/fansly</a>.
    </p>
    <p class="default-text">В заключение данного пункта дам совет. Fansly – проще, чем онлик, поэтому я не рекомендую
        начинать работу оператором с онлифанса. Попрактикуйтесь на Fansly, а потом, возможно, ты будешь готов перейти на
        онлик, а может, найдешь на Fansly кучу постоянников для твоей модели и никуда переходить не захочешь :)</p>
    <p class="default-text"><b>Кстати! У меня есть агентство как на Fansly, так и на OnlyFans. В обоих агентствах
        человек, прошедший этот курс, будет иметь возможность пройти собеседование. Естественно, тем, кто приходит ко
        мне именно с курса, устроиться будет гораздо проще, ведь я провел колоссальную работу над созданием данного
        курса, моей целью является то, чтобы мы вместе с тобой достигли максимального результата в работе и заработали
        как можно больше денег!</b></p>
    <h4 class="h4-header">5) Используй психологию!</h4>
    <p class="default-text">Психологические приемы необходимо использовать со всеми мемберами, а в первую очередь – с
        постоянниками, ведь именно они создают тебе большую часть прибыли. Запоминай факты, которые собеседник тебе
        рассказывает, так он будет чувствовать, что его личность тебе по-настоящему интересна. Узнай имя мембера и
        обращайся к нему, соответственно, по имени – это тоже важный элемент психологии. Общайся с мембером на те темы,
        которые ему интересны, это известный психологический прием, позволяющий понравиться собеседнику. Таких приемов
        масса! Рекомендую прочесть культовую книгу Дейла Карнеги – «Как приобретать друзей и оказывать влияние на
        людей». Она очень легко читается и будет полезна абсолютно любому человеку!</p>
    <h4 class="h4-header">6) Сохарняй теплые отношения с работодателем!</h4>
    <p class="default-text">Входи в положение других людей, будь культурным и вежливым! В работе встречаются разные
        ситуации. Работодатель может забыть что-то сообщить, допустить ошибку, которая негативно отразиться на твоем
        положении, и т.д. Рекомендую закрывать глаза на мелочи и ждать такой же отдачи от работодателя. Расскажу, как
        решаются проблемы в моем агентстве – очень просто – дипломатией! Я поддерживаю теплые отношения со своими
        сотрудниками и стараюсь находить компромисс в любой ситуации. К слову, про теплые отношения - мы не работаем с
        быдло. Первое правило моего агентства: "Вежливо общаться со всеми сотрудниками агентства".</p>
    <p class="default-text"><b>Но! Относительно тезиса "входить в положение" - здесь нужен баланс. Не позволяй работодателю
        ущемлять твои права!</b></p>
    <h4 class="h4-header">7) Обрати внимание на другие перспективы в этой сфере!</h4>
    <p class="default-text">Реклама моделей различными способами (дропы, Instagram, Twitter, Reddit и др.), работа на
        иных платформах (помимо Fansly и OnlyFans), - Loyalfans, Manyvids, PornHub, работа, связанная с вебкамом
        (например, ты можешь стать траффик-менеджером вебкам-студии) – все это лишь небольшая часть перспектив,
        связанных с данной сферой, профессией "оператор" она не ограничивается! Да, операторы могут зарабатывать очень
        неплохие деньги, однако существует и масса других возможностей. Вероятно, однажды ты устанешь от продажи
        контента на Fansly/OnlyFans и захочешь разнообразить свою деятельность, а может быть, будешь совмещать.
        Некоторые ребята, например, работают одновременно пиарщиками и операторами одной и той же модели, это называется
        "взять модель на полное ведение". В общем, общайся в чатах, с коллегами, узнавай, какие ещё существуют
        перспективы, ведь чем больше ты знаешь, тем больше имеешь возможностей!</p>
    <p class="default-text"><b>Но! Мое мнение – работа оператором является одной из самых перспективных и востребованных, поэтому я сделал курс именно по этой профессии. Начать, по крайней мере, я рекомендую именно с этого вида деятельности, а там уже видно будет :)</b></p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>