<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Поиск продавцов курса в чатах.</h3>
    <p class="default-text">Способ эффективный, но требующий времени. Заключается он в том, чтобы писать рандомным людям из чатов - предлагать работу. Также можно выставлять в чатах <b>объявления о предложении работы</b>.</p>
    <p class="default-text">Рекомендую созваниваться с людьми – так будет гораздо проще объяснить своё предложение. Случайный человек из чата вряд ли захочет покупать курс, который ему предложил какой-то левый чувак. <b>Но точно найдутся желающие его продавать!</b> Здесь ты так же можешь рассказывать людям про любые из перечисленных мною способов продажи.</p>
    <p class="default-text">Что именно ты будешь говорить этим людям мне безразлично, придумывай сам. Я рекомендую рассказывать все прямо - что ты сотрудничаешь с автором курса и занимаешься поиском продавцов.</p>
    <p class="default-text">Кстати, те продавцы, которых ты найдешь, тоже могут искать продавцов. В общем, советую выстроить под собой небольшую пирамиду и иметь <b>пассивный доход</b> с продаж. Возможно, среди этих людей найдётся талантливый "торгаш", который будет делать хорошие деньги для нас с тобой.</p>
    <h4 class="h4-header">Сколько предлагать денег продавцам?</h4>
    <p class="default-text"> Смотри, всего у тебя есть 2000р за одну продажу. Я рекомендую предлагать минимум 1000р продавцу. А также рассказать ему, что если он хочет не только продавать курс, но и искать продавцов, то он может из своей 1000р предлагать продавцам по 500р.
        Можешь предлагать продавцам и 1500р, за одну продажу ты будешь получать меньше, но зато повысится шанс того, что у тебя удастся создать под собой пирамиду.</p>
    <h4 class="h4-header">В каких чатах искать продавцов?</h4>
    <p class="default-text">Наиболее эффективными будут чаты, связанные с данной сферой. Ссылки на них есть в третьем модуле курса - "Где найти работу?". Также подойдут чаты, где сидят так называемые "темщики", ребята, которые ищут различные подработки. Я знаю парочку таких чатов, ссылки прикрепляю ниже:</p>
    <ol class="content-ol">
        <li><a href="https://t.me/+oZT4hMgH5DNjN2I5" target="_blank">https://t.me/+oZT4hMgH5DNjN2I5</a></li>
        <li><a href="https://t.me/onlayn_rabota" target="_blank">https://t.me/onlayn_rabota</a></li>
        <li><a href="https://t.me/arbitraj_vmeste" target="_blank">https://t.me/arbitraj_vmeste</a></li>
    </ol>
    <p class="default-text">Можешь вбить в телеграме в поисковую строку фразы: "поиск работы", "онлайн-работа", "доска объявлений", и т.д. Можешь загуглить что-то по типу: "телелграм-каналы для объявлений", короче, разберёшься, найти нужные паблики очень просто!</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>