<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Как ставить цену на контент?</h3>
    <p class="default-text"><b>Цена на контент</b> – вещь ситуативная. В одном диалоге ты продаешь 1 фото за 25$, а в
        другом у тебя просят скинуть цену на 5 минутное видео, хотя ты и так уже продаешь его за 10$. Важно, что единого ценника нет, стоимость контента зависит от платежеспособности мембера. Кому-то можно продать, например, кастомное видео и по 100$, и по 200$!</p>
    <p class="default-text"><b>Средняя цена за 1 фото 7$.</b> Если видишь, что собеседник хорошо платит – поднимай цену
        до 10$ за фото, если же, наоборот, это высокая цена для него – опускай до 5$.</p>
    <p class="default-text"><b>Средняя цена за 1 видео 20$.</b> Если видишь, что собеседник платит – смело поднимай цену
        до 25, если же, наоборот, это высокая цена для него – опускай до 10-15$.</p>
    <p class="default-text"><b>Цена на кастомное видео</b> начинается от 40$ за 2-3 минутное видео – далее +10$ минута.
    </p>
    <p class="default-text"><b>Цена на кастомное фото</b> начинается от 15$.</p>
    <h4 class="h3-header">Кастомные видео/фото</h4>
    <p class="default-text">Кастомный контент делается от нескольких часов, чаще до нескольких дней. Оплата за кастом
        принимается перед тем, как снимается видео. Можно принять часть оплаты (минимум 50%). Очень важно, чтобы в
        техническом задании (ТЗ) к контенту все было четко и ясно.</p>
    <p class="default-text">Когда собеседник заказал кастомный контент, нужно внести его в список "Кастом" и "Без
        рассылки" (не нужно создавать новый список, добавляй в тот, который уже есть), подписать его ник "Ждет кастом".
        После того, как собеседник получит контент, нужно убрать его из списков и стереть подпись к имени. Когда тебе
        нужно будет скинуть ему контент, ты легко найдешь его во вкладке «списки» в списке "Кастом".</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>