<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
  <h3 class="h3-header">Заключение.</h3>
  <p class="default-text">Вот и подошёл к концу мой курс. Надеюсь, ты будешь со мной сотрудничать, и мы еще не прощаемся!</p>
  <p class="default-text">Пройдя все пять модулей, ты не только обучился профессии оператора, но и узнал, как можно зарабатывать, вполне возможно, даже не меньшие деньги, чем продавая контент моделей на Fansly и OnlyFans. Я надеюсь, что у тебя все получится и вот-вот ты станешь гораздо богаче, нежели был раньше! Это несложно – думай головой, анализируй, постарайся определить, с каким видом деятельности ты не только хорошо справишься, но и будешь получать от неё удовольствие!</p>
  <p class="default-text advice"><b>Никогда не сдавайся – начало всегда самое сложное!</b></p>
  <p class="default-text advice"><b>Надеюсь, тебе всё понравилось, буду рад обратной связи!</b></p>
  <p class="default-text advice">Пиши мне в телеграм для получения индивидуального промокода (и не только)!</p>
  <p class="default-text module5-tg">С любовью,</p>
  <p class="default-text module5-tg"><a href="https://t.me/mmmspm" target="_blank">@mmmspm</a> (Саша)</p>
  <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>