<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Покупка рекламы.</h3>
    <p class="default-text"><b>Данный способ – единственный, требующий финансовых вложений.</b> Он подойдёт, во-первых,
        для людей, которые не боятся рисковать, во-вторых, для тех, кто умеет давать рекламу. <b>Рекламировать курс
            можно в Instagram, Вконтакте, телеграм-пабликах, Twitter – где угодно.</b> Суть способа
        заключается в том, что ты самостоятельно создаёшь афишу (можешь написать мне за советом), определяешься, где и
        как именно ты будешь её размещать.</p>
    <p class="default-text">Главное – не уйти в минус. Объясню на примере: ты нашёл телеграм-паблик и договорился с его
        менеджером о том, что рекламный пост будет стоить, предположим, 2000 рублей. В таком случае тебе необходимо,
        чтобы хотя бы один человек купил курс, тогда, как минимум, ты уйдёшь в ноль, т.к. ты получаешь 2000р за одну
        продажу. Чтобы выйти в плюс, <b>ты должен проанализировать, на что зациклить внимание, какая аудитория наиболее
            заинтересована в покупке курса, насколько стоимость рекламы может окупиться.</b> Если ты умеешь хорошо
        давать
        рекламу, то, скорее всего, после первой её закупки, заметив, что она хорошо окупилась, ты будешь искать для
        своей афиши все больше и больше рекламодателей и получать пассивный доход с продаж.</p>
    <p class="default-text"> Способ рискованный, но может стать одним из самых прибыльных, т.к. качественный пиар влечёт
        за собой хороший результат. Скорее всего, ты неоднократно видел рекламу различных курсов в Интернете - вряд ли
        эти курсы никто не покупает! <b>Я советую попробовать договориться с каким-нибудь рекламодателем о том, чтобы ты
        платил ему % от продаж. Ты увидишь, сколько человек купили курс благодаря твоей афише и сделаешь вывод, стоит ли
            тебе покупать рекламу за деньги.</b></p>
    <p class="default-text">Данный способ похож на предыдущий, но я решил разделить их на два разных, т.к. блогеры
        зачастую "прогревают" курсы именно за % от продаж, а рекламные посты в пабликах делаются по предоплате. Однако
        это не значит, что ты не можешь договориться с блогером о фиксированной плате, вместо процента, либо с
        менеджером телеграм-паблика о том, что будешь платить ему % от продаж. Всё в твоих руках!</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>