<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Придумай сам!</h3>
    <p class="default-text">Я перечислил некоторые из возможных способов продажи данного курса, но их количество не ограничено. Подумай, вероятно, ты будешь выставлять объявления на HeadHunter о том, что предлагаешь работу в сфере продаж, рассказывать откликнувшимся людям про возможные способы продажи курса и давать им свой промокод, естетственно. Возможно, ты напишешь ссылку на курс и свой промокод где-нибудь на заборе, а может быть, купишь огромный баннер! Пробуй различные способы и смотри, какие у тебя получаются лучше всего! Кстати, а по какой причине ты купил этот курс?</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>