<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Поиск продавцов курса среди своих знакомых.</h3>
    <p class="default-text">Необязательно продавать курс самостоятельно. За одну продажу курса по твоему промокоду ты получаешь 2000р. Дай этот промокод знакомому. Скажи, что в случае продажи курса по этому промокоду, ты заплатишь ему определенную сумму. Можешь скинуть знакомому те способы продажи, которые считаешь для него подходящими. Сумму придумай сам, настоятельно рекомендую учесть мой совет о том, что предложение должно быть <b>взаимовыгодным!</b> Я бы предложил 1000р, на мой взгляд, вполне "по-пацански".</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>