<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Продажа курса своим знакомым.</h3>
    <p class="default-text">Самый простой и очевидный способ. Лучше всего он подойдёт для тех, кто уже работает в этой сфере, т.к. будучи опытным оператором, ты можешь показать знакомым, сколько ты зарабатываешь денег, рассказать про особенности работы, и т.д. Не забудь дать знакомому свой <b>индивидуальный промокод</b>, по которому он получит скидку 500р!</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>