<!--Content-->
<?php if ($hasAccess) : ?>
<div class="container content-block">
    <h3 class="h3-header">Предложение сотрудничества блогерам.</h3>
    <p class="default-text">Большинство курсов рекламируется именно через блогеров, ведь у них есть аудитория, которая им доверяет, поэтому данный способ является очень эффективным. Он хорошо подойдёт для тех, кто умеет грамотно общаться и договариваться с людьми. Искать блогеров можно на различных площадках, проще всего – в Instagram.</p>
    <h4 class="h4-header">Какое предложение сделать блогеру?</h4>
    <p class="default-text">Для начала тебе следует представиться и рассказать, что ты сотрудничаешь с автором курса и занимаешься его рекламой. Далее ты должен максимально подробно объяснить блогеру, что включает в себя курс и что это вообще за профессия, "оператор" на Fansly. Затем делай коммерческое предложение! У тебя есть промокод – дай этот промокод блогеру и предложи процент от продаж. Ты получаешь 2000р за одну продажу, блогеру можешь предложить 1000р или 1500р за каждую продажу по промокоду.</p>
    <h4 class="h4-header">Как искать блогеров?</h4>
    <p class="default-text">Очевидно, food-блогер не будет рекламировать работу на подобных площадках. Нужно искать блогеров, связанных с данной сферой, например, блогеров в сфере вебкама.  Искать их несложно – через поиск в Instagram найди аккаунты вебкам-студий и посмотри их подписки.
        Но блогер необязательно должен быть связан с этой сферой, подойдут и обычные, максимально, так сказать, "неформальные" ребята. Ты предлагаешь курс, который учит продавать контент обнаженных девушек. Так предложи выложить твою рекламу каким-нибудь локальным реперам или просто гламурным, "тусовочным" людям с открытым мировоззрением!</p>
    <p class="default-text"><b>Рекомендуется предлагать рекламу курса блогерам, у которых не более 5-10 тыс. подписчиков.</b> Более популярные блогеры вряд ли согласятся рекламировать курс за % от продаж. Хотя, если ты гений ораторского искусства, то вполне возможно!</p>
    <div class="encurance"></div>
</div>
<?php else : include_once('blurContent.html') ?>
<?php endif; ?>